* {
  text-decoration: none;
}

body {
  padding: 0px;
  font-family: 'Bungee', cursive;
  font-size: 15px;
  font-weight: 100;
}
h3{
  margin-bottom: 30px;
  font-size: 30px;
  text-align: center;
  background-color: #dddddd;
font-family: 'Krona One', sans-serif;
text-shadow: 1px 1px 2px #000000, 0 0 25px grey, 0 0 5px white;
}
.alert{
  width: 50%;
  margin: auto;
  text-align: center;
}
